<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCC Control</title>
    <meta name="description" content="description">
    <meta name="author" content="Gtwave soluções em Tecnologia">

    <script src="~/plugins/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!--Includes Layout - Begin-->
    <link href="~/plugins/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="~/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="~/plugins/xcharts/xcharts.min.css" rel="stylesheet">
    <link href="~/plugins/select2/select2.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
            <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Includes Layout - Fim-->

    <!-- Includes Layout - Inicio-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="http://code.jquery.com/jquery.js"></script>-->
    
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
    <script src="~/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/plugins/tinymce/jquery.tinymce.min.js"></script>
    <!-- All functions for this theme + document.ready processing -->
    <script src="~/js/devoops.js"></script>
    <!-- Includes Layout - Fim -->



</head>
<body>
    <!--Header Begin -->
    <!--Start Header-->
    <div id="screensaver">
        <canvas id="canvas"></canvas>
        <i class="fa fa-lock" id="screen_unlock"></i>
    </div>
    <div id="modalbox">
        <div class="devoops-modal">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span>Basic table</span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="devoops-modal-inner">
            </div>
            <div class="devoops-modal-bottom">
            </div>

            <!--
                
            <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
                --->
        </div>
    </div>
    <header class="navbar">
        <div class="container-fluid expanded-panel">
            <div class="row">
                <div id="logo" class="col-xs-12 col-sm-2">
                    <a href="index.html">NCC - Control</a>
                </div>
                <div id="top-panel" class="col-xs-12 col-sm-10">
                    <div class="row">
                        <div class="col-xs-8 col-sm-4">
                            <a href="#" class="show-sidebar">
                                <i class="fa fa-bars"></i>
                            </a>
                            <div id="search">
                                <input type="text" placeholder="pesquisar" />
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div id="dvLoggedUser">

                            @Html.Partial("~/Views/Account/LoggedUserPartial.cshtml")
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>    
    <!--Header End -->

    <!--
                           Movimento Financeiro: Últimos lançamentos
                           Contas a Pagar/Receber
                           Envio de alertas de sistema via Email
                           Recebimento de mercadorias
                           Consultar pedidos/propostas
                           Agrupar pedidos e solicitações por Projeto
                           Visualizar Projetos
                           -->


    <!--Start Container-->
    <div id="main" class="container-fluid">
        <div class="row">
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                <ul class="nav main-menu">
                    <li>
                        <a href="@Url.Action("Index", "Painel")" >
                            <i class="fa fa-dashboard"></i>
                            <span class="hidden-xs">Painel</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="hidden-xs">Vendas</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Propostas", "Propostas", "Vendas")</li>
                            <li>@Html.ActionLink("Pedidos", "Pedidos", "Vendas")</li>
                            <li>@Html.ActionLink("Controle de Visitas", "Visitas", "Vendas")</li>
                            <li>@Html.ActionLink("Clientes", "Propostas", "Vendas")</li>
                            <li>@Html.ActionLink("Tabela de Preços", "TabelaPrecos", "Vendas")</li>
                            <li>@Html.ActionLink("Disponibilidade Produtos", "ConsultaEstoque", "Vendas")</li>
                            <li>@Html.ActionLink("Histórico Pedidos", "Historicos Pedidos", "Vendas")</li>
                            <li>@Html.ActionLink("Vendas por Periodo", "Historicos Pedidos", "Vendas")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa  fa-crosshairs"></i>
                            <span class="hidden-xs">Compras</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Solicitação de Materiais", "SolicitacaoMateriais", "Compras")</li>
                            <li>@Html.ActionLink("Pedido de Compras", "PedidoCompras", "Compras")</li>
                            <li>@Html.ActionLink("Conferência e Recebimento de Mercadorias", "Recebimento", "Compras")</li>
                            <li>@Html.ActionLink("Entrada de Notas Fiscais", "EntradaNotasFiscais", "Compras")</li>
                            <li>@Html.ActionLink("Baixa de Pedidos de Compras", "BaixaPedidos", "Compras")</li>                            
                            <li>@Html.ActionLink("Histórico de Compras", "Historico", "Compras")</li>
                            <li>@Html.ActionLink("Evolução de Preços por Produto", "PrecoporProduto", "Compras")</li>
                            <li>@Html.ActionLink("Listagem de Pedidos", "ListaPedidos", "Compras")</li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-qrcode"></i>
                            <span class="hidden-xs">Estoque</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cadastro de Movimentação Estoque", "MovimentacaoEstoque", "Estoque")</li>
                            <li>@Html.ActionLink("Importação de produtos de NFe Entrada", "ImportacaoNFE", "Estoque")</li>
                            <li>@Html.ActionLink("Baixa de Produtos (RMA, Perda, Defeito, Composição)", "BaixaProdutos", "Estoque")</li>                            
                            <li>@Html.ActionLink("Inventário de Produtos", "Inventario Produtos", "Estoque")</li>
                            <li>@Html.ActionLink("Consulta Estoque", "ConsultaEstoque", "Estoque")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-money"></i>
                            <span class="hidden-xs">Financeiro</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Fluxo de Caixa", "FluxoCaixa", "Financeiro")</li>
                            <li>@Html.ActionLink("Visualizar Documentos Fiscais", "VisualizarDocumentos", "Financeiro")</li>
                            <li>@Html.ActionLink("Contas a Pagar / Receber", "", "Financeiro")</li>
                            <li>@Html.ActionLink("Controle Conta Corrente / Conciliação Bancária", "ExtratoBancario", "Financeiro")</li>
                            <li>@Html.ActionLink("Fluxo de Caixa", "", "Financeiro")</li>
                            <li>@Html.ActionLink("Movimento Financeiro por período", "", "Financeiro")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-barcode"></i>
                            <span class="hidden-xs">Faturamento</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Controle e Emissão de Notas Fiscais", "", "Financeiro")</li>
                            <li>@Html.ActionLink("Integração SEFAZ (Secretária da Fazenda): Inclusão e Cancelamento de NF", "", "Financeiro")</li>
                            <li>@Html.ActionLink("Emissão de DANFE", "", "Financeiro")</li>
                            <li>@Html.ActionLink("Notas Fiscais Emitidas", "", "Financeiro")</li>
                            <li>@Html.ActionLink("Status Integração SEFAZ", "", "Financeiro")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-map-marker"></i>
                            <span class="hidden-xs">Cadastro</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Clientes", "Clientes", "Cadastro")</li>
                            <li>@Html.ActionLink("Fornecedores", "Fornecedores", "Cadastro")</li>
                            <li>@Html.ActionLink("Produtos", "Produtos", "Cadastro")</li>
                            <li>@Html.ActionLink("Vendedores", "Vendedores", "Cadastro")</li>
                            <li>@Html.ActionLink("Contatos", "Contatos", "Cadastro")</li>
                            <!--<li>Html.ActionLink("Cadastro de “Prospects” (Funil de Vendas)", "Prospects", "Cadastro")</li>-->
                            <li>@Html.ActionLink("CFOP", "CFOP", "Cadastro")</li>
                            <!--<li><a class="ajax-link" href="ajax/maps.html">OpenStreetMap</a></li>
                            <li><a class="ajax-link" href="ajax/map_fullscreen.html">Fullscreen map</a></li>-->
                        </ul>
                    </li>
                    <!-- Menus não utilizados - Begin-->
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-picture-o"></i>
                            <span class="hidden-xs">Gallery</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="ajax-link" href="ajax/gallery_simple.html">Simple Gallery</a></li>
                            <li><a class="ajax-link" href="ajax/gallery_flickr.html">Flickr Gallery</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="ajax-link" href="ajax/typography.html">
                            <i class="fa fa-font"></i>
                            <span class="hidden-xs">Typography</span>
                        </a>
                    </li>
                    <li>
                        <a class="ajax-link" href="ajax/calendar.html">
                            <i class="fa fa-calendar"></i>
                            <span class="hidden-xs">Calendar</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-picture-o"></i>
                            <span class="hidden-xs">Multilevel menu</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">First level menu</a></li>
                            <li><a href="#">First level menu</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-plus-square"></i>
                                    <span class="hidden-xs">Second level menu group</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Second level menu</a></li>
                                    <li><a href="#">Second level menu</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle">
                                            <i class="fa fa-plus-square"></i>
                                            <span class="hidden-xs">Three level menu group</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Three level menu</a></li>
                                            <li><a href="#">Three level menu</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle">
                                                    <i class="fa fa-plus-square"></i>
                                                    <span class="hidden-xs">Four level menu group</span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Four level menu</a></li>
                                                    <li><a href="#">Four level menu</a></li>
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle">
                                                            <i class="fa fa-plus-square"></i>
                                                            <span class="hidden-xs">Five level menu group</span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">Five level menu</a></li>
                                                            <li><a href="#">Five level menu</a></li>
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle">
                                                                    <i class="fa fa-plus-square"></i>
                                                                    <span class="hidden-xs">Six level menu group</span>
                                                                </a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="#">Six level menu</a></li>
                                                                    <li><a href="#">Six level menu</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Three level menu</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>*@
                    <!-- Menus não utilizados - End-->
                </ul>
            </div>
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">
                @*<div class="preloader">
                    <img src="img/devoops_getdata.gif" class="devoops-getdata" alt="preloader" />
                </div>*@
                @RenderBody()
                @*<div id="ajax-content">
                    
                </div>*@
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            </div>
            <!--End Content-->
        </div>
    </div>
    <!--End Container-->
       



    <script type="text/javascript">

    function atualizarDefinicao() {
        $.ajax(
        {
            type: 'GET',
            url: '/Account/LoggedUserPartial',
            dataType: 'html',
            cache: false,
            async: true,
            success: function (data) {
                $('#dvLoggedUser').html(data);
            }
        });
    }

    $(document).ready(function () {
        setInterval(atualizarDefinicao, 30000);        
    });

    </script>




</body>
</html>

